@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0b0d12;
  font-family: var(--font-body);
  overflow-x: hidden;
}
